<ion-header [translucent]="true" class="ion-no-border" mode="ios" >
  <ion-toolbar>
    <ion-title class="ion-padding">
      Resultados para "{{textoBuscar}}"
    </ion-title>
  </ion-toolbar>
  <ion-label  class="ion-padding" *ngIf="ideas.length > 0">Coincidencias</ion-label>

</ion-header>

<ion-content [fullscreen]="true">
  <div [class]="onOf ? 'fondo' : 'cine'"></div>
  <ion-header collapse="condense"  class="ion-no-border" mode="ios">
    <ion-toolbar>
      <div [class]="onOf ? 'fondo' : 'cine'"></div>

      <ion-title size="large">Buscar</ion-title>


        <ion-text class="ion-padding"><span [class]="!onOf ? 'color-type' : ''">Movie</span></ion-text>
        <ion-toggle color="primary" [(ngModel)]="onOf" [checked]="true" (ionChange)="ToggleChanged()" mode="md"class="ion-padding"></ion-toggle>
        <ion-text class="ion-padding-vertical"><span [class]="onOf ? 'color-type' : ''">Tv</span></ion-text>


        <ion-searchbar class="ion-padding" color="light" (input)="buscar( $event )" [value]="textoBuscar" [placeholder]="!onOf ? 'Titulo de la película' : 'Titulo de la SerieTv'"></ion-searchbar>


    </ion-toolbar>
  </ion-header>
  <ion-grid *ngIf="isLoading" fixed>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-spinner name="bubbles"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!isLoading && isSearched && ideas.length < 1 && ideasTv.length < 1" fixed>
    <ion-row>
      <ion-col class="ion-text-center">
        <h1>No Hay coincidencias</h1>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid fixed *ngIf="ideas.length > 0">
    <ion-row>
      <ion-col size="6" sizeSm="4" sizeLg="3" *ngFor="let idea of ideas" >
        <ion-card (click)="onClickIdea( idea.id )">
          <img *ngIf="idea.poster_path" [src]="idea.poster_path | images">
          <img *ngIf="!idea.poster_path" src="/assets/no-image-poster.jpg">
          <ion-card-header>
            <ion-card-subtitle *ngIf="idea.release_date">{{idea.release_date | date : 'YYYY' }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{idea.title | slice : 0 : 40}} {{idea.title.length > 40 ? '...' : ''}}
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid fixed *ngIf="ideasTv.length > 0">
    <ion-row>
      <ion-col size="6" sizeSm="4" sizeLg="3" *ngFor="let idea of ideasTv" >
        <ion-card (click)="onClickIdea( idea.id )">
          <img *ngIf="idea.poster_path" [src]="idea.poster_path | images">
          <img *ngIf="!idea.poster_path" src="/assets/no-image-poster.jpg">
          <ion-card-header>
            <ion-card-subtitle *ngIf="idea.first_air_date">{{idea.first_air_date | date : 'YYYY' }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{idea.name | slice : 0 : 40}} {{idea.name.length > 40 ? '...' : ''}}
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="25%"
                       position="bottom"
                       (ionInfinite)="buscarMas()"
                       *ngIf="totalPagesResponse > 1 && moviesSvc.currentSearchPage <= totalPagesResponse">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Más resultados...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
