

<ion-content [fullscreen]="true">


  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Películas Nuevas</h3>
      </ion-col>

    </ion-row>
    <slideshow-backdrop [peliculas]="peliculasRecientes"></slideshow-backdrop>
  </ion-grid>

<ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Cartelera</h3>
      </ion-col>

    </ion-row>
    <slideshow-poster [peliculas]="peliculasRecientes"></slideshow-poster>
  </ion-grid>


  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Populares</h3>
      </ion-col>
    </ion-row>
    <slideshow-pares [error] = "error"  [peliculas]="populares" (loadMoreData)="loadMore()"></slideshow-pares>
  </ion-grid>
</ion-content>
