<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios">
    <ion-toolbar>
      <ion-title size="large">Favoritos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngFor="let favorito of favoritosPorGenero">

    <ion-grid fixed  *ngIf="favorito.peliculas.length > 0">
      <ion-row>
        <ion-col>
          <h4>{{favorito.genero.name}}</h4>
        </ion-col>

      </ion-row>
      <slideshow-poster [peliculas] = "favorito.peliculas"></slideshow-poster>
    </ion-grid>


  </div>


</ion-content>
