
<ion-content *ngIf="serie">
  <ion-label class="titulo">
    <h1>{{ serie.name }}</h1>
  </ion-label>
  <img style="width: 100%;" [src]="serie.backdrop_path | images" *ngIf="serie.backdrop_path">
  <img style="width: 100%;" src="./assets/no-image.jpg" *ngIf="!serie.backdrop_path">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="4" class="poster-detalle-sobre">
        <ion-card>
          <img [src]="serie.poster_path | images" *ngIf="serie.poster_path">
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-icon slot="start" name="thumbs-up" color="primary"></ion-icon>
          <ion-label>Rating</ion-label>
          <ion-note slot="end" color="primary">{{ serie.vote_average }}</ion-note>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="person" color="primary"></ion-icon>
          <ion-label>Votos</ion-label>
          <ion-note slot="end" color="primary">{{ serie.vote_count }}</ion-note>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>

    <ion-item>
      <ion-label>1ª Emisión: </ion-label>
      <ion-chip color="primary" mode="ios" outline="true">
        <ion-label>{{ serie.first_air_date| customDate }}</ion-label>
      </ion-chip>
    </ion-item>

    <ion-item>
      <ion-label>Prod.:</ion-label>
      <ion-chip color="primary" mode="ios" outline="true" *ngFor="let countrie of serie.production_countries">
        <ion-label>{{countrie.name | customcountrie}}</ion-label>
      </ion-chip>
    </ion-item>

    <div class="ion-padding season-container">
      <ion-chip color="primary" mode="ios" outline="true" *ngFor="let season of serie.seasons" (click)="showSeason( season )">
        <ion-label>{{season.name }}</ion-label>
      </ion-chip>
    </div>

    <ion-item class="logo-company-container">
      <ion-chip  [ngClass]="company.logo_path ? '' : 'noDisplay'"
                 class="logo-company-chip"
                 color="primary"
                 mode="ios"
                 outline="true"
                 *ngFor="let company of serie.production_companies">
        <img  *ngIf="company.logo_path" [src]="company.logo_path | images " alt="">
      </ion-chip>
    </ion-item>

    <ion-row>
      <ion-col size="12" class="ion-padding">
        <ion-label>{{ serie.overview | slice: 0: textoOculto }}<span
            *ngIf="textoOculto <= 150 && serie.overview.length > 150">... </span></ion-label>
        <ion-label color="primary" (click)="leerMas()"
          *ngIf=" textoOculto <= 150 && serie.overview.length > 150">leer más!</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-chip color="primary" mode="ios" outline="true" *ngFor="let genero of serie.genres">
          <ion-label>{{ genero.name }}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-label>Reparto:</ion-label>
      </ion-col>

    </ion-row>
  </ion-grid>

  <swiper-container [slidesPerView]="2.2" [spaceBetween]="-15" class="ion-padding" [freeMode]="true">
    <swiper-slide *ngFor="let actor of actores">

      <ion-card class="card-actor" class="ion-padding">
        <img class="img-slide" *ngIf="actor.profile_path" [src]="actor.profile_path | images" />
        <img class="img-slide" *ngIf="!actor.profile_path" src="./assets/no-avatar.jpg" />

        <ion-label style="font-size: 90%;">{{actor.name}}</ion-label>
      </ion-card>

    </swiper-slide>
  </swiper-container>

</ion-content>

<ion-footer class="ion-no-border" mode="ios">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="regresar()">
        <ion-icon slot="start" name="arrow-undo-outline"></ion-icon>
        <ion-label>Volver</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="favoritos()">
        <ion-icon slot="start" name="star-outline"></ion-icon>
        <ion-label>Favorito</ion-label>
      </ion-button>
    </ion-buttons>



  </ion-toolbar>
</ion-footer>
